version: "3.8"
services:
  app:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - ./visuals:/app/visuals
      - ./sample_images:/app/sample_images
    environment:
      - VISUAL_DIR=/app/visuals
